SUPABASE_DB_URL=
SUPABASE_MIGRATION_URL=
SUPABASE_DB_USER=
SUPABASE_DB_PASSWORD=
SUPABASE_URL=
SUPABASE_SERVICE_KEY=
JWT_SECRET=
REACT_APP_API_BASE_URL=http://localhost:8080
REACT_APP_ORIGIN=http://localhost:3000
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=
SENDGRID_API_KEY=
SENDGRID_FROM_EMAIL=