SUPABASE_DB_URL=
SUPABASE_MIGRATION_URL=
SUPABASE_DB_USER=
SUPABASE_DB_PASSWORD=
SUPABASE_URL=
SUPABASE_SERVICE_KEY=
JWT_SECRET=
JWT_ACCESS_TOKEN_TTL=900
JWT_REFRESH_TOKEN_TTL=604800
REACT_APP_API_BASE_URL=http://localhost:8080
REACT_APP_ORIGIN=http://localhost:3000
APP_CORS_ORIGINS=http://localhost:3000
